apiVersion: v1
kind: Pod
metadata:
  name: kubevirt-cloud-controller-manager
  namespace: kube-system
  labels:
    k8s-app: kubevirt-cloud-controller-manager
spec:
  containers:
  - name: kubevirt-cloud-controller-manager
    args:
    - --cloud-provider=kubevirt
    - --cloud-config=/etc/cloud/cloud-config
    - --use-service-account-credentials=true
    - --kubeconfig=/etc/kubernetes/controller-manager.conf
    image: docker.io/dgonzalez/kubevirt-cloud-controller-manager:v0.0.5
    resources:
      requests:
        cpu: 100m
    volumeMounts:
    - mountPath: /etc/kubernetes/pki
      name: k8s-certs
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
    - mountPath: /etc/kubernetes/controller-manager.conf
      name: kubeconfig
      readOnly: true
    - mountPath: /etc/cloud/cloud-config
      name: cloud-config
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/pki
      type: DirectoryOrCreate
    name: k8s-certs
  - hostPath:
      path: /etc/ssl/certs
      type: DirectoryOrCreate
    name: ca-certs
  - hostPath:
      path: /etc/kubernetes/controller-manager.conf
      type: FileOrCreate
    name: kubeconfig
  - hostPath:
      path: /etc/kubernetes/cloud-config
      type: FileOrCreate
    name: cloud-config
  securityContext:
    runAsUser: 1001